
  :root{

  
  --black: #000000;
  --primary-color:#EC6041;
  --white: #ffffff;
  --secondry-color:rgb(178, 66, 26);
  overflow-x: visible;


  }
  html, body {
    height: 100%;
    margin: 0;
    padding-top: 40px;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  #content {
    flex: 1;
    overflow-y: auto;
  }
  
  .footer {
    background-color: #f1f1f1;
  }

  h2{
    font-size: clamp(2rem, 4vw, 3rem); 
    font-weight: bold;
  }
  
  

.card1{
  max-width: 500px;
    height: 200px;
    border-radius: 5px;
    background: linear-gradient(to right, rgba(243, 107, 77, 0.1) 100%, rgba(255, 255, 255, 1) 100%);
    margin: 0 30px;
    padding: 20px;
    border: 1px solid #fff;
    box-shadow: #fff;
    border-radius: 16px !important;
}
.hover{
  transition: all 0.2s ease-in;

}
.hover:hover{
  transform: translateY(-5px);
}



