@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Poppins:wght@100;300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  overflow-x: hidden;
  overflow-y: auto;
}


body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
  position: relative;
  overflow-y: auto;
  


}

button {
  transition: all 0.3s ease-in-out !important;

}

button:hover {
  transform: scale(1.06) !important;
}